{% extends "display/display_layout.html" %}
{% block display_content %}
    <!-- List item displaying the length of the course -->
    <li class="list-group-item">Length: {{ record.length }} years</li>

    <!-- List item displaying the course fee -->
    <li class="list-group-item">Fee: £{{ record.course_fee }}</li>

    <!-- List item with conditional display logic for the teacher information -->
    <li class="list-group-item d-flex justify-content-between">

        <!-- If a teacher record exists, this block will execute, displaying the teacher's name and a link to their profile -->
        {% if record.teacher %}
            <!-- Display the name of the teacher -->
            <span>Teacher: {{ record.teacher.name }}</span>

            <!-- Display a link to the teacher's profile, generating the URL using the "url_for" function and passing the teacher's ID -->
            <a href="{{ url_for('teachers.display_teacher', teacher_id=record.teacher.id) }}" class="link-underline-opacity-0 link-secondary fs-6">visit</a>

        <!-- If no teacher record exists, this else block will execute, indicating there is no teacher and providing a link to add one -->
        {% else %}
            <!-- Display a message indicating that there is no teacher assigned -->
            <span>Teacher: No Teacher</span>

            <!-- Display a link to update the course, allowing the user to add a teacher, the URL is generated using the "url_for" function with the course ID -->
            <a href="{{ url_for('courses.update_course', course_id=record.id) }}" class="link-underline-opacity-0 link-secondary fs-6">add teacher</a>
        {% endif %}
    </li>
    <li class="list-group-item"></li>
{% endblock display_content %}
