{% extends "main/navbar_layout.html" %}
{% block body_content %}
    <div class="container mb-5 justify-content-center">

        <!-- This is the main container that holds the entire content of this segment of the page.
             The classes applied are for styling: 'mb-5' adds margin at the bottom and 'justify-content-center'
             centers the content within it. -->

        <!-- Title Section -->
        <div class="row justify-content-center">
            <div class="col p-1 mb-4 text-center">

                <!-- Displaying the title which is dynamically assigned using Jinja templating.
                     It gets the title value from the context passed to the template. -->
                <h1>{{ title }}</h1>
            </div>
        </div>

        <!-- Main Content Section -->
        <div class="row justify-content-center">
            <div class="col col-lg-6 p-4 border rounded">

                <!-- This is an unordered list that will hold data about each record.
                     'list-group' and 'list-group-flush' are Bootstrap classes to style the list.
                     'fs-5' is for setting the font size and 'mb-3' adds margin at the bottom. -->
                <ul class="list-group list-group-flush fs-5 mb-3">

                    <!-- A block that can be overridden in child templates to display specific content (the record's data)
                         It allows for more flexible template inheritance. -->
                    {% block display_content %}{% endblock %}
                </ul>

                <!-- Buttons Section -->
                <div class="text-end">

                    <!-- 'Update' button: When clicked, it redirects the user to the update page for the specific record.
                         The URL for redirection is dynamically generated using Jinja templating with the appropriate
                         record type and ID. -->
                    <a class="btn btn-outline-primary" href="{{ url_for(record_type.lower() + 's.update_' + record_type.lower(),  **{record_type.lower() + '_id': record_id}) }}">Update</a>

                    <!-- 'Delete' button: Only displayed if the current user is an admin.
                         When clicked, it triggers a modal dialog asking for deletion confirmation.
                         'data-bs-toggle' and 'data-bs-target' are Bootstrap attributes to control the modal. -->
                    {% if current_user.admin %}
                        <button type="button" class="btn btn-outline-danger ms-2" data-bs-toggle="modal" data-bs-target="#deleteModal">
                            Delete
                        </button>
                    {% endif %}
                </div>
            </div>
        </div>

        <!-- Delete Confirmation Modal Section -->
        <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">

                    <!-- The header of the modal, displaying a title which includes the name of the record
                         to be deleted, dynamically assigned using Jinja templating. -->
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="deleteModalLabel">Delete {{ title }}</h1>
                    </div>

                    <!-- The body of the modal, containing a message asking for confirmation
                         of the deletion. -->
                    <div class="modal-body">
                        Are you sure you want to delete this {{ record_type.lower() }}?
                    </div>

                    <!-- The footer of the modal, containing 'Cancel' and 'Delete' buttons.
                         The 'Cancel' button simply closes the modal, while the 'Delete'
                         button submits a form to initiate the deletion of the record in
                         the database, with the record ID passed dynamically to the form action URL. -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancel</button>
                        <form action="{{ url_for(record_type.lower() + 's.delete_' + record_type.lower(),  **{record_type.lower() + '_id': record_id}) }}" method="POST">
                            <input type="submit" class="btn btn-outline-danger" value="Delete">
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock body_content %}
