{% extends "display/display_layout.html" %}
{% block display_content %}
    <!-- List item with conditional display logic for identifying whether the individual is a teacher or a tutor -->
    {% if table_name == "teacher" %}
        <!-- If the "table_name" variable is equal to "teacher", this block will execute, displaying the type as "Teacher" -->
        <li class="list-group-item">Type: Teacher</li>
    {% else %}
        <!-- If the "table_name" variable is not equal to "teacher", this block will execute, displaying the type as "Tutor" -->
        <li class="list-group-item">Type: Tutor</li>
    {% endif %}

    <!-- List item displaying the age of the individual -->
    <li class="list-group-item">Age: {{ record.age }} years</li>

    <!-- List item displaying the gender of the individual -->
    <li class="list-group-item">Gender: {{ record.gender.value }}</li>
    <li class="list-group-item"></li>
{% endblock display_content %}