{% extends "display/display_layout.html" %}
{% block display_content %}
    <!-- List item displaying the age of the student -->
    <li class="list-group-item">Age: {{ record.age }} years</li>

    <!-- List item displaying the gender of the student -->
    <li class="list-group-item">Gender: {{ record.gender.value }}</li>

    <!-- List item displaying the enrolment date of the student -->
    <li class="list-group-item">Enrolment Date: {{ record.enrollment_date }}</li>

    <!-- List item displaying the scholarship status of the student -->
    <li class="list-group-item">Scholarship: {{ record.scholarship }}</li>

    <!-- List item with conditional display logic for the tutor information -->
    <li class="list-group-item d-flex justify-content-between">

        <!-- If a tutor record exists, this block will execute, displaying the tutor's name and a link to their profile -->
        {% if record.tutor %}
            <!-- Display the name of the tutor -->
            <span>Tutor: {{ record.tutor.name }}</span>

            <!-- Display a link to the tutor's profile, generating the URL using the "url_for" function and passing the tutor's ID -->
            <a href="{{ url_for('tutors.display_tutor', tutor_id=record.tutor.id) }}" class="link-underline-opacity-0 link-secondary fs-6">visit</a>

        <!-- If no tutor record exists, this else block will execute, indicating there is no tutor and providing a link to add one -->
        {% else %}
            <!-- Display a message indicating that there is no tutor assigned -->
            <span>Tutor: No Tutor</span>

            <!-- Display a link to update the student information, allowing the user to add a tutor, the URL is generated using the "url_for" function with the student ID -->
            <a href="{{ url_for('students.update_student', student_id=record.id) }}" class="link-underline-opacity-0 link-secondary fs-6">add tutor</a>
        {% endif %}
    </li>

    <!-- List item with conditional display logic for the course information -->
    <li class="list-group-item d-flex justify-content-between">

        <!-- If a course record exists, this block will execute, displaying the course name and a link to its profile -->
        {% if record.course %}
            <!-- Display the name of the course -->
            <span>Course: {{ record.course.name }}</span>

            <!-- Display a link to the course profile, generating the URL using the "url_for" function and passing the course ID -->
            <a href="{{ url_for('courses.display_course', course_id=record.course.id) }}" class="link-underline-opacity-0 link-secondary fs-6">visit</a>

        <!-- If no course record exists, this else block will execute, indicating there is no course enrolled and providing a link to add one -->
        {% else %}
            <!-- Display a message indicating that the student is not enrolled in any course -->
            <span>Course: No Course</span>

            <!-- Display a link to update the student information, allowing the user to add a course, the URL is generated using the "url_for" function with the student ID -->
            <a href="{{ url_for('students.update_student', student_id=record.id) }}" class="link-underline-opacity-0 link-secondary fs-6">add course</a>
        {% endif %}
    </li>
    <li class="list-group-item"></li>
{% endblock display_content %}