{% extends "main/navbar_layout.html" %}
{% block body_content %}
    <!-- Start of the main container. It holds the entire content and aligns it centrally with some margin-bottom spacing -->
    <div class="container mb-5 justify-content-center">

        <!-- Row to center the header title horizontally. This section displays the dynamic title (either adding or updating records) -->
        <div class="row justify-content-center">

            <!-- Column that contains the heading with padding and center-aligned text styling -->
            <div class="col p-1 text-center">

                <!-- Display the dynamically assigned title, which would be either "Add" or "Update" followed by the entity type (Student, Course, Tutor, or Teacher) -->
                <h1>{{ title }}</h1>
            </div>
        </div>

        <!-- Row to center the form horizontally. This section houses the form elements to either add or update records -->
        <div class="row justify-content-center">

            <!-- Column containing the form. It has a border, padding, and rounded corners for styling -->
            <div class="col col-lg-6 p-4 border rounded">

                <!-- The form element which uses the POST method to submit data. The 'novalidate' attribute prevents browser's default validation to take place -->
                <form method="POST" action="" novalidate>
                    <!-- Hidden field to include a CSRF token for security -->
                    {{ form.hidden_tag() }}

                    <!-- Loop through each field in the form to render them dynamically -->
                    {% for field in form %}

                        <!-- Check if the field is a submit button, to customize its rendering -->
                        {% if field.name == "submit" %}

                            <!-- Container for the submit button and possibly a cancel button with some margin at the bottom -->
                            <div class="mb-3">

                                <!-- Display the submit button with Bootstrap classes for styling -->
                                {{ form.submit(class="btn btn-outline-primary me-2") }}

                                <!-- If the form is for updating records, a cancel button is also displayed, which redirects to the display page for the record being updated -->
                                {% if "Update" in title %}
                                    <!-- Cancel button to abort the update and return to the respective record's display page -->
                                    <a class="btn btn-outline-secondary" href="{{ url_for(record_type.lower() + 's.display_' + record_type.lower(),  **{record_type.lower() + '_id': record_id}) }}">Cancel</a>
                                {% endif %}
                            </div>

                        <!-- Check if the current field is 'scholarship' to render it with specific styles -->
                        {% elif field.name == "scholarship" %}
                            <!-- Container for the scholarship checkbox with a margin at the bottom -->
                            <div class="mb-3">
                                <!-- Display the label and checkbox for the scholarship field with appropriate styling classes -->
                                {{ field.label(class="form-check-label") }}
                                {{ field(class="form-check-input p-2 ms-1") }}
                            </div>

                        <!-- Exclude the CSRF token from being rendered as a normal form field -->
                        {% elif field.name != "csrf_token" %}
                            <!-- Container for the individual form fields excluding CSRF token, each having a margin at the bottom -->
                            <div class="mb-3">
                                <!-- Display the label for the current form field with a specific class for styling -->
                                {{ field.label(class="form-label") }}
                                <!-- If the current field has any validation errors, display them with appropriate styles -->
                                {% if field.errors %}
                                    <!-- Render the field as invalid and display the error messages -->
                                    {{ field(class="form-control is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in field.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    <!-- If there are no errors, render the field with default styling -->
                                    {{ field(class="form-control") }}
                                {% endif %}

                                <!-- Additional guidance for certain fields (teacher, course, tutor) to navigate to respective add pages if none exist -->
                                {% if field.name == "teacher" %}
                                    {% if number_of_teachers == 0 %}
                                        <!-- Display a note with a link to add a teacher if the database contains no teacher records -->
                                        <small class="text-muted ms-1">
                                            No Teachers? <a class="ml-2 link-underline-light" href="{{ url_for('teachers.add_teacher') }}">Add One Here</a>
                                        </small>
                                    {% endif %}
                                {% elif field.name == "course" %}
                                    {% if number_of_courses == 0 %}
                                        <!-- Display a note with a link to add a course if the database contains no course records -->
                                        <small class="text-muted ms-1">
                                            No Courses? <a class="ml-2 link-underline-light" href="{{ url_for('courses.add_course') }}">Add One Here</a>
                                        </small>
                                    {% endif %}
                                {% elif field.name == "tutor" %}
                                    {% if number_of_tutors == 0 %}
                                        <!-- Display a note with a link to add a tutor if the database contains no tutor records -->
                                        <small class="text-muted ms-1">
                                            No Tutors? <a class="ml-2 link-underline-light" href="{{ url_for('tutors.add_tutor') }}">Add One Here</a>
                                        </small>
                                    {% endif %}
                                {% endif %}
                            </div>
                        {% endif %}
                    {% endfor %}
                </form>
            </div>
        </div>
    </div>
{% endblock body_content %}

