{% extends "display_all/display_all_layout.html" %}
{% block display_all_content %}
    <li class="list-group-item"></li>

    <!-- List item displaying the course fee -->
    <li class="list-group-item">Fee: £{{ record.course_fee }}</li>

    <!-- List item displaying the length of the course in years -->
    <li class="list-group-item">Length: {{ record.length }} years</li>

    <!-- List item displaying the name of the teacher associated with the course, using a class to style the item and align the content -->
    <li class="list-group-item d-flex align-items-center course-teacher">Teacher: {{ record.teacher.name }}</li>

    <li class="list-group-item"></li>
{% endblock display_all_content %}