{% extends "main/navbar_layout.html" %}
{% block body_content %}
    <!-- This section serves as the main container for the page, with a padding at the bottom for style.
         It encapsulates all the other elements, aligning everything within a single block. -->
    <div class="container-fluid pb-5">

        <!-- This container holds the title section, centrally aligned with a margin at the bottom for space separation.
             It makes use of Bootstrap classes for layout and style. -->
        <div class="container text-center mb-5">

            <!-- This row section is used to create a centrally-aligned title section,
                 facilitating a clean and organized layout. -->
            <div class="row justify-content-center">

                <!-- This column section holds the main title which is dynamically assigned using Jinja templating.
                     It gets the title value from the context passed to the template. -->
                <div class="col col-lg-6">
                    <h1>{{ title }}</h1>
                </div>
            </div>
        </div>

        <!-- This container holds the main content of this part of the webpage.
             It aligns the content centrally and contains various nested elements. -->
        <div class="container text-center">

            <!-- This container holds a form element styled with Bootstrap classes.
                 It employs a flex display and justifies the content to the end of the container,
                 creating a search bar with a button. -->
            <div class="container d-flex justify-content-end mb-5">

                <!-- The form element that facilitates the search functionality.
                     It has an action attribute that dynamically constructs the URL using Jinja templating.
                     The form uses POST method to submit the search query. -->
                <form class="row g-2" style="width: 17rem" method="post" action="{{ url_for(title.lower() ~ '.display_all_' ~ title.lower()) }}">

                    <!-- This column contains a label and an input element to create a search bar.
                         It also contains a conditional that renders a link to clear the search, if a search
                         has been performed.
                         The input placeholder is dynamically set using Jinja templating. -->
                    <div class="col-10">
                        <label for="searchBar" class="visually-hidden">Search for a {{ title.lower() }}</label>
                        <input type="text" class="form-control" id="searchBar" name="searchBar" placeholder="{{ search_bar_text }}">

                        <!-- Nested conditional block that provides a link to display all records if a search has been performed
                             and the search has returned records. -->
                        {% if has_searched and length_of_list > 0 %}
                            <small class="text-muted">
                                <a  class="link-secondary link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover" href="{{ url_for(title.lower() ~ '.display_all_' ~ title.lower()) }}">Clear Search</a>
                            </small>
                        {% endif %}
                    </div>

                    <!-- This column contains a button to initiate the search.
                         It features an icon from Bootstrap Icons to visually represent the search action. -->
                    <div class="col-2">
                        <button type="submit" class="btn btn-outline-dark mb-3">
                            <i class="bi bi-search"></i>
                        </button>
                    </div>
                </form>
            </div>

             <!-- This row section organizes the content in columns and centers the text.
                  It contains conditional statements and a loop to display records dynamically based on the search results. -->
            <div class="row row-cols-2 text-centre">

                <!-- A conditional block that displays a message if no records are found.
                     It contains links to either show all records or to add a new record, with URLs generated dynamically using Jinja templating. -->
                {% if length_of_list == 0 %}
                    <div class="container text-center">
                        <h1 class="mb-3">No {{ title }} Found</h1>

                        <!-- Nested conditional block that provides a link to display all records if a search has been performed. -->
                        {% if has_searched %}
                            <small class="text-muted">
                                Show All <a class="link-underline-light" href="{{ url_for(title.lower() ~ '.display_all_' ~ title.lower()) }}">Here</a>
                            </small>

                        <!-- Nested conditional block that provides a link to add a new record if no search has been performed. -->
                        {% else %}
                            <small class="text-muted">
                                Add {{ title }} <a class="link-underline-light" href="{{ url_for(add_record_url) }}">Here</a>
                            </small>
                        {% endif %}
                    </div>
                {% endif %}

                <!-- A loop that iterates over all searched records, displaying each record's details in a structured format.
                     Each iteration creates a column that holds a card element to display the record details. -->
                {% for record in all_searched_records %}

                    <!-- This column organizes content, centering the content and adding a margin at the bottom. -->
                    <div class="col-6 col-lg-3 d-flex justify-content-center mb-5">

                        <!-- A card element that contains the record details.
                             It has a fixed width and auto height to accommodate the content dynamically. -->
                        <div class="card pt-3" style="width: 15rem; height: auto">

                            <!-- A header that displays the record name dynamically using Jinja templating, centered and styled with padding on the x-axis. -->
                            <h5 class="card-title px-2 d-flex align-items-center justify-content-center record-name">{{ record.name }}</h5>

                            <!-- The main body of the card that contains an unordered list to display record details and a button to visit the specific record page. -->
                            <div class="card-body p-0">

                                <!-- An unordered list that will hold data about each record. The content of this list is determined by a block that can be overridden in child templates. -->
                                <ul class="list-group list-group-flush text-start">

                                    <!-- A block that can be overridden in child templates to display specific content for each record. It allows more flexible template inheritance. -->
                                    {% block display_all_content scoped %}
                                    {% endblock %}
                                </ul>

                                <!-- A link that redirects to the specific record's detail page, with the URL and record ID dynamically generated using Jinja templating. -->
                                <a href="{{ url_for(record_type.lower() + 's.display_' + record_type.lower(),  **{record_type.lower() + '_id': record.id}) }}" class="btn btn-sm btn-outline-dark mb-3">Visit</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <!-- This script section contains a JavaScript function 'setMaxHeight' that equalizes the
         height of elements with the same class to the height of the tallest
         element. It then iterates over a list of class names (fetched dynamically) to
         apply this height adjustment to each class of elements in the list. -->
    <script>
        const setMaxHeight = (selector) => {
            const elements = document.querySelectorAll(selector);
            let max_height = 0;

            elements.forEach(element => {
                const height = element.offsetHeight;
                if (height > max_height) {
                    max_height = height;
                }
            });

            elements.forEach(element => {
                element.style.height = `${max_height}px`;
            });
        };

        const elements_to_dynamically_resize = {{ elements_to_dynamically_resize|tojson }};

        for(let i = 0; i < elements_to_dynamically_resize.length; i++) {
            setMaxHeight(`.${elements_to_dynamically_resize[i]}`)
        }
    </script>
{% endblock body_content %}
