{% extends "display_all/display_all_layout.html" %}
{% block display_all_content %}
    <li class="list-group-item"></li>

    <!-- List item displaying the age of the tutor or teacher in years -->
    <li class="list-group-item">Age: {{ record.age }} years</li>

    <!-- List item displaying the gender of the tutor or teacher -->
    <li class="list-group-item">Gender: {{ record.gender.value }}</li>

    <li class="list-group-item"></li>
{% endblock display_all_content %}