{% extends "display_all/display_all_layout.html" %}
{% block display_all_content %}
    <li class="list-group-item"></li>

    <!-- List item displaying the age of the student in years -->
    <li class="list-group-item">Age: {{ record.age }} years</li>

    <!-- List item displaying the course the student is enrolled in -->
    <li class="list-group-item d-flex align-items-center teacher-name">Course: {{ record.course.name }}</li>

    <li class="list-group-item"></li>
{% endblock display_all_content %}