{% extends "main/navbar_layout.html" %}
{% block body_content %}
<!-- Main container with padding at the bottom to maintain some space between the content and the page's end -->
<div class="container-fluid pb-5">

    <!-- Inner container to centrally align the text content -->
    <div class="container text-center mb-5">

        <!-- Row to use Bootstrap's grid system; it aligns the content centrally using the justify-content-center class -->
        <div class="row justify-content-center">

            <!-- Column with specified width and top margin; it will contain the error message and instructions -->
            <div class="col col-lg-6 mt-5">

                <!-- Header displaying the error status code, with a margin at the bottom to separate it from the following paragraph -->
                <h1 class="mb-4">{{ status_code }} Error</h1>

                <!-- Paragraph to display the error message, which should be passed dynamically when rendering this template -->
                <p>{{ message }}</p>

                <!-- Static instruction paragraph to guide the user to check the URL if they have entered it manually -->
                <p>If you entered the URL manually please check the URL and try again.</p>

            </div>
        </div>
    </div>
</div>
{% endblock body_content %}