{% extends "main/navbar_layout.html" %}
{% block body_content %}
    <!-- The main container fluid class is used to create a full-width container with padding at the bottom -->
    <div class="container-fluid pb-5">

        <!-- This container centralizes the text and gives a bottom margin to separate the sections appropriately -->
        <div class="container text-center mb-5">

            <!-- A row with centered content to evenly distribute space around the elements -->
            <div class="row justify-content-center">

                <!-- Column definition optimized for large screens to make the webpage responsive -->
                <div class="col col-lg-6">

                    <!-- Header section welcoming users to the University Database Application -->
                    <h1>Welcome</h1>

                    <!-- Introductory paragraph explaining the functionality and features of the University Database Application -->
                    <p>
                        Welcome to the University Database Application! Here, you can effortlessly browse through the data we maintain.
                        You will also have the ability to search our records, create new records, and update existing ones to keep information current and accurate.
                    </p>

                </div>
            </div>
        </div>

        <!-- This container centralizes the text and contains a row with columns to house the information cards -->
        <div class="container text-center">

            <!-- Row definition with two columns to arrange cards in two columns on each row -->
            <div class="row row-cols-2">

                <!-- Loop iterating over each entry in the home_page_cards dictionary (student, teacher, tutor, course) and generating respective information cards -->
                {% for title, text in home_page_cards.items() %}

                    <!-- Column definition that adjusts its size based on the viewport and centers the content -->
                    <div class="col-12 col-lg-6 d-flex justify-content-center mb-5">

                        <!-- Individual card structure styled and aligned to hold title and description from the home_page_cards dictionary -->
                        <div class="card d-flex align-items-center px-2" style="width: 25rem; height: 12.5rem">

                            <!-- Card body that contains the title (like student, teacher, tutor, course) and description (info about them) fetched from the dictionary -->
                            <div class="card-body">

                                <!-- Display the title of the current entry (e.g., "Student") -->
                                <h5 class="card-title">{{ title }}</h5>

                                <!-- Display the associated description for the current entry (information about student, teacher, tutor, or course) -->
                                <p class="card-text">{{ text }}</p>

                                <!-- "Explore" button dynamically linked to a URL generated based on the title, which leads to the respective section for students, teachers, etc. -->
                                <a href="{{ url_for(title.lower() ~ '.display_all_' ~ title.lower())}}" class="btn btn-outline-dark">Explore</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock body_content %}