<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Linking to Bootstrap's CSS for styling. 'integrity' and 'crossorigin' attributes are used for Subresource Integrity (SRI) checking. This ensures that the files being fetched haven't been maliciously altered. -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <!-- Linking to Bootstrap Icons stylesheet for icons like 'mortarboard' used in the navbar -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <!-- The title is set dynamically from a variable passed from the backend -->
    <title>{{ title }}</title>
</head>
<body>
    <!-- This is a navigation bar with Bootstrap classes for style and functionality -->
    <nav class="navbar navbar-expand-lg mb-4" style="background-color: #bfbfbf;">

        <!-- A container is used to give the content a max-width and center it horizontally -->
        <div class="container-fluid px-5 py-2">

            <!-- This is the brand/logo section of the navbar. It has a link to the homepage and an icon -->
            <a class="navbar-brand fs-4 me-5" href="{{ url_for('main.home') }}">University Database <i class="bi bi-mortarboard"></i></a>

            <!-- Toggler button appears in smaller screens (mobile view) to collapse/expand navbar items -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- These are the links and items in the navbar which can collapse in a mobile view -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <!-- Left-aligned items in the navbar -->
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                    <!-- Home link -->
                    <li class="nav-item">
                        <a class="nav-link fw-medium fs-6 me-2" href="{{ url_for('main.home') }}">Home</a>
                    </li>

                    <!-- Dropdown menu which houses links to different sections for adding new records -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle fw-medium fs-6" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Add New
                        </a>
                        <ul class="dropdown-menu">
                            <!-- Each of these links leads to a different page to add new students, teachers, etc. -->
                            <li><a class="dropdown-item" href="{{ url_for('students.add_student') }}">Student</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('teachers.add_teacher') }}">Teacher</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('courses.add_course') }}">Course</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('tutors.add_tutor') }}">Tutor</a></li>
                        </ul>
                    </li>
                </ul>

                <!-- Right-aligned items in the navbar -->
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

                    <!-- This is a button to trigger the logout modal -->
                    <li class="nav-item">
                        <button type="button" class="btn btn-sm btn-outline-dark" data-bs-toggle="modal" data-bs-target="#logoutModal">
                            Logout
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Central container to display flash messages -->
    <div class="container justify-content-center">
        <div class="row justify-content-center">
            <!-- This template code fetches and displays flash messages from the backend -->
            {% with messages = get_flashed_messages(with_categories=true) %}

                <!-- Checking if there are any flash messages to display -->
                {% if messages %}
                    <div class="col col-lg-6 p-2 text-center">
                        <!-- Iterating over each flash message to display it -->
                        {% for category, message in messages %}
                            <div class="alert alert-{{ category }}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}
        </div>
    </div>

    <!-- Placeholder for the main content of individual pages. This block is intended to be overwritten by child templates that extend this layout -->
    {% block body_content %}{% endblock %}

    <!-- Modal for confirming logout -->
    <div class="modal fade" id="logoutModal" tabindex="-1" aria-labelledby="logoutModalLabel" aria-hidden="true">
        <!-- Defining the modal dialog (the main box) -->
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Header of the modal with a title -->
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="logoutModalLabel">Logout</h1>
                </div>
                <!-- Main content of the modal. This is where the body message or main content goes -->
                <div class="modal-body">
                    Are you sure you want to logout?
                </div>
                <!-- Footer of the modal. This is typically where action buttons -->
                <div class="modal-footer">
                    <!-- Button to close or dismiss the modal -->
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancel</button>
                    <!-- Form to actually log out the user -->
                    <form action="{{ url_for('authentication.logout')}}" method="GET">
                        <input type="submit" class="btn btn-outline-danger" value="Logout">
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Linking to Bootstrap's JS for functional components like modals, dropdowns, etc. Again, 'integrity' and 'crossorigin' attributes are for security -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>
