<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Setting the charset to UTF-8 to support a wide range of characters -->
    <meta charset="UTF-8" />

    <!-- Including Bootstrap CSS from a CDN for styling and setting integrity and crossorigin attributes for security -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />

    <!-- Including Bootstrap icons CSS from a CDN to enable the use of Bootstrap icons in the HTML -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"
    />

    <!-- Setting the title of the page dynamically using a template variable -->
    <title>{{ title }}</title>
  </head>
  <body>
    <!-- Creating a row for the header section -->
    <div class="row">
      <!-- Defining a column with padding classes -->
      <div class="col p-4">
        <!-- Adding a paragraph with font size and margin styling classes to display the University Database text along with an icon -->
        <p class="fs-5 mt-2 ms-4">
          University Database <i class="bi bi-mortarboard"></i>
        </p>
      </div>
    </div>

    <!-- Creating a container with a class to hold and center the content -->
    <div class="container justify-content-center">
      <!-- Creating a row with justify-content-center class to center the flash messages horizontally -->
      <div class="row justify-content-center">
        <!-- Using the with statement to get flash messages along with their categories -->
        {% with messages = get_flashed_messages(with_categories=true) %}

        <!-- Checking if there are any flash messages to display -->
        {% if messages %}

        <!-- Defining a column with specific size and text-center class to center the flash messages -->
        <div class="col col-lg-6 text-center">
          <!-- Looping through the flash messages and their categories to display them -->
          {% for category, message in messages %}

          <!-- Creating an alert box for each message with dynamic category class for styling -->
          <div class="alert alert-{{ category }}">
            <!-- Displaying the message inside the alert box -->
            {{ message }}
          </div>
          {% endfor %}
        </div>
        {% endif %} {% endwith %}
      </div>

      <!-- Creating another row with justify-content-center class to center the title horizontally -->
      <div class="row justify-content-center">
        <!-- Defining a column with padding and text-center class to display the title -->
        <div class="col pb-4 text-center">
          <!-- Displaying the dynamic title using a template variable -->
          <h1>{{ title }}</h1>
        </div>
      </div>

      <!-- Creating a row with justify-content-center class to center the form horizontally -->
      <div class="row justify-content-center">
        <!-- Defining a column with specific size, padding, border, and rounded classes to style the form container -->
        <div class="col col-lg-6 p-4 border rounded">
          <!-- The form starts here with a POST method, which means the form data will be sent in the request body.
                     The "novalidate" attribute disables browser's default validation to let server-side validation take place -->
          <form method="POST" action="" novalidate>
            <!-- This line includes a hidden CSRF (Cross Site Request Forgery) token to prevent CSRF attacks.
                         This token is a secret value that is validated by the server to ensure that the form is submitted by the authentic source -->
            {{ form.hidden_tag() }}

            <!-- This loop iterates over each field in the form, dynamically generating the HTML for each field -->
            {% for field in form %}

            <!-- A conditional block that renders the submit button in a specific style -->
            {% if field.name == "submit" %}

            <!-- This division contains the submit button with some Bootstrap styling classes -->
            <div class="mb-1">
              <!-- The submit button is rendered with Bootstrap button classes for styling -->
              {{ field(class="btn btn-outline-primary") }}
            </div>

            <!-- A conditional block that renders the "admin" checkbox field with a specific styling -->
            {% elif field.name == "admin" %}

            <!-- This division contains the "admin" checkbox and its label with specific Bootstrap styling classes -->
            <div class="mb-4">
              <!-- The admin checkbox is rendered with Bootstrap classes for styling -->
              {{ field(class="form-check-input p-2") }}

              <!-- The label for the admin checkbox is displayed with some margin applied to it -->
              {{ field.label(class="form-check-label ms-1") }}
            </div>

            <!-- A conditional block to render all other fields except the CSRF token -->
            {% elif field.name != "csrf_token" %}

            <!-- Each field container has a margin at the bottom to separate it from the next field -->
            <div class="mb-3">
              <!-- The label of the current field is rendered with a Bootstrap label class -->
              {{ field.label(class="form-label") }}

              <!-- A conditional block that handles field validation errors -->
              {% if field.errors %}

              <!-- If the current field has validation errors, it is rendered with Bootstrap's "is-invalid" class, which styles the field as invalid -->
              {{ field(class="form-control is-invalid") }}

              <!-- A division to hold the validation error messages -->
              <div class="invalid-feedback">
                <!-- A loop that iterates over each error message and displays it -->
                {% for error in field.errors %}
                <span>{{ error }}</span>
                {% endfor %}
              </div>
              {% else %}
              <!-- If the current field has no errors, it is rendered with the regular Bootstrap class for form controls -->
              {{ field(class="form-control") }} {% endif %}

              <!-- A conditional block to add "Show Password" buttons next to the password and confirm password fields for toggling visibility -->
              <div class="d-flex justify-content-end">
                {% if field.name == "password" %}
                <!-- A button to toggle the visibility of the "password" field -->
                <button
                  type="button"
                  class="btn btn-sm mt-1"
                  data-bs-toggle="button"
                  onclick="togglePasswordVisibility('password')"
                >
                  Show Password
                </button>
                {% elif field.name == "confirm_password" %}
                <!-- A button to toggle the visibility of the "confirm_password" field -->
                <button
                  type="button"
                  class="btn btn-sm mt-1"
                  data-bs-toggle="button"
                  onclick="togglePasswordVisibility('confirm_password')"
                >
                  Show Password
                </button>
                {% endif %}
              </div>
            </div>
            {% endif %} {% endfor %}
          </form>
        </div>
      </div>

      <!-- Below the form, there is a navigation link section -->
      <div class="row justify-content-center">
        <!-- A column styled with Bootstrap classes to contain the navigation links -->
        <div class="col col-lg-6 mt-4">
          <!-- A small text that displays a message and a link to navigate to the login or registration page based on the current page's title -->
          <small class="text-muted">
            <!-- A conditional block that dynamically adjusts the message and the link based on the title variable -->
            {% if title == "Register" %}
            <!-- If the title is "Register", this link navigates to the login page -->
            Already Have An Account?
            <a class="ml-2" href="{{ url_for('authentication.login') }}"
              >Sign In Here</a
            >
            {% else %}
            <!-- If the title is not "Register", this link navigates to the registration page -->
            Need An Account?
            <a class="ml-2" href="{{ url_for('authentication.register') }}"
              >Sign Up Here</a
            >
            {% endif %}
          </small>
        </div>
      </div>
    </div>

    <!-- JavaScript function to toggle password visibility -->
    <script>
      /**
       * This function toggles the visibility of the password or confirm_password fields.
       * It changes the type attribute of the input field between "password" (characters are hidden)
       * and "text" (characters are visible).
       *
       * @param {string} elementId - The ID of the input field (either 'password' or 'confirm_password') to toggle visibility.
       */
      function togglePasswordVisibility(elementId) {
        // Retrieves the input field element based on the provided elementId.
        let passwordInput = document.getElementById(elementId);

        // Checks the current type attribute of the input field.
        // If it is "password", the characters in the field are hidden.
        if (passwordInput.type === "password") {
          // Changes the type attribute to "text", making the characters in the field visible.
          passwordInput.type = "text";
        } else {
          // If the type attribute is not "password" (i.e., it is "text"), it changes it back to "password" to hide the characters again.
          passwordInput.type = "password";
        }
      }
    </script>

    <!-- Link to Bootstrap JavaScript library, with integrity and cross-origin attributes for security -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
